@import "reset.less";

body {
    font-family: Helvetica, Arial, sans-serif
}

.landing-page {
    margin-top: 56px;
}

.welcome-box {
    margin-top: 32px;
}

.gallery-box {
    margin-top: 48px;
}

.button-box {
    .next-button {
        position: absolute;
        right: 70px;
        top: 420px;
    }

    .prev-button {
        position: absolute;
        left: 70px;
        top: 420px;
    }
}

.card-view {
    margin: 20px;
    margin-top: 60px;
    width: 300px;
    height: 420px;
    position: relative;
    background-color: black;
    color: white;
}

.card-name {
    position: absolute;
    font-size: 16px;
    font-weight: 500px;
    text-align: left;
    width: 200px;
    height: 15px;
    top: 10px;
    left: 10px;
    color: white;
}

.card-domain {
    position: absolute;    
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 25px;
    top: 40px;
    left: 7px;
}

.domain-card-name {
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-set {
    position: absolute;        
    border: white solid 1px;
    width: 60px;
    height: 30px;
    top: 15px;
    right: 10px;
}

.card-set-name {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: 200px;
}

.card-author {
    position: absolute;            
    font-size: 10px;
    font-style: bold;
    width: 100px;
    text-align: right;
    height: 10px;
    top: 50px;
    right: 10px;
    color: white;
}

.card-image-container {
    position: absolute;
    width: 215px;
    height: 230px;
    top: 70px;
    right: 10px;
    overflow: hidden;
}

.card-image {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.card-habitat {
    position: absolute;
    width: 60px;
    height: 75px;
    top: 70px;
    left: 10px;
    background-color: #EAE8E3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .habitat-card-name {
        position: absolute;
        top: 60px;
        font-size: 8px;
        font-weight: bold;
    }
}

.card-lifespan {
    position: absolute;
    background-color:#EAE8E3;
    width: 60px;
    height: 70px;
    top: 150px;
    left: 10px;
    display: flex;
    justify-content: center;

    .lifespan-card-name {
        font-size: 8px;
        font-weight: bold;
        color: black;
        position: absolute;
        top: 55px;
    }
    
    .lifespan-card-heart {
        position: absolute;
        top: 10px;
    }
    
    .card-lifespan-number {
        top: 20px;
        position: absolute;
        color: white;
        font-size: 12px;
    }
}

.card-size {
    position: absolute;
    background-color: #EAE8E3;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    width: 60px;
    height: 75px;
    top: 225px;
    left: 10px;

    .h3 {
        color: black;
        font-size: 10px;
        font-weight: bold;
    }

    .size-card-name {
        position: absolute;
        top: 60px;
        font-size: 8px;
        font-weight: bold;
    }

    .size-card-feet-number {
        display: flex;
        font-size: 20px;
        font-weight: bolder;
        position: absolute;
        top: 3px;
    }

    .size-card-inches-number {
        display: flex;
        font-size: 20px;
        font-weight: bolder;
        position: absolute;
        top: 26px;
    }

    .size-small {
        color: black;
        font-size: 8px;
        font-weight: bold;
        align-self: center;
        padding-left: 2px;
    }
}

.card-trophic-level {
    position: absolute;
    background-color: white;
    text-align: left;
    width: 280px;
    height: 30px;
    top: 305px;
    left: 10px;
}

.card-word-box {
    position: absolute;
    width: 280px;
    height: 65px;
    top: 340px;
    left: 10px;
    padding: 3px;
    overflow: hidden;
}

.card-title {
    color: white;
    text-align: left;
    font-weight: bold;
    margin-left: 4px;
}

.card-description {
    color: white;
    text-align: left;
    line-height: 1.2;
    margin-left: 4px;
}

.card-nocturnal {
    top: 250px;
    right: 10px;
    position: absolute;
}

.card-super-defender {
    visibility: hidden;
}

.dropdown-habitat {
    width: 20px;
}

.dropdown-habitat-container {
    display: flex;
    height: 30px;
    align-items: center;
}

.dropdown-nocturnal {
    width: 20px;    
}

.dropdown-nocturnal-container {
    display: flex;
    height: 30px;
    align-items: center;
}